{% load static %}
<html>
    <head>
        <title>All items</title>
        <style></style>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>BookBoys | Marketplace</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <!--
        <link rel="stylesheet" href="{% static 'css/marketlist.css' %}"> -->
        <!-- <link rel="stylesheet" href="{% static 'css/itemdetail.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/postlist.css'%}">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
          <a href="{% url 'item_new' %}" class="top-menu">New post</a>
          <p>HEADER</p>
          {% endif %}
          <h1><a href="/">BookBoyz</a></h1>
        </div>
            {% block content %}
            {% endblock%}
    </body>
</html>