<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
          body {
            background-image: url('back copy.jpg');
          }
          </style>

        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>BookBoys | Marketplace</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="images/favicon.png">

      </head>
    <!---->
      <table class="eight columns" style="margin-left: 15%" style="margin-top: 18%">
        <thead>
          <tr>
            <td><img src="back2.jpg"/></td>
            <th>Title</th>
            <th>Price</th>
            <th>Seller's Phone</th>
            <th>Condition</th>
          </tr>
        </thead>
        <!--This is probably the place where the for-loop connected
        to Django would go-->
        <tbody>
          <tr>
            <td><img src="back2.jpg"/></td>
            <td>Math Book</td>
            <td>$378</td>
            <td>123-456-7890</td>
            <td>Used</td>
          </tr>
          <tr>
            <td><img src="back2.jpg"/></td>
            <td>Art Book</td>
            <td>$9000</td>
            <td>987-654-3210</td>
            <td>Burned</td>
          </tr>
        </tbody>
      </table>
</html>