{% extends 'market/base.html' %}
{% load static %}

{% block content %}
<section class="card-list">
        {% for item in items %}
        <a href="{% url 'item_detail' pk=item.pk %}">
        <div class="card">
          <div class="photo">
            <img src="{{ item.image.url }}">
          </div>
        <div class="description">
          <h2>{{ item.title }}</h2>
          <h4>{{ item.subject }}</h4>
          <h1>${{ item.price }}</h1>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </a>
        {% endfor %}
      </section>
{% endblock %}