{% extends 'market/base.html' %}
{% load static %}
{% block content %}

    <section class="hero-section">

      <div class="card-grid">
      {% for item in items %}
        <a class="card" href="{% url 'item_detail' pk=item.pk %}">
        <div class="card__background" style="background-image: url({{ item.image.url }});"></div>
          <div class="card__content">
          <p class="card__category">{{ item.subject }}</p>
          <h3 class="card__heading">{{ item.title }}</h3>
          <h5>{{ item.description }}</h5>
          <h5>{{ item.price }}</h5>
          </div>
        </a>
      {% endfor %}
      </div>
    </section>
{% endblock %}